
/build_cmake/

*.pyc

# Python
__pycache__/
*.py[cod]

# Pip
pip-selfcheck.json
*.whl
*.egg
*.egg-info

# Setuptools
/build

/dist
*.eggs
bin/3-11-2025__4-DLL's&4-libs_bin.rar
bin/3-11-2025__4-DLL's--separate__bin.rar
